ul {
    padding: 0; 
    width: 100%;
    margin: inline;
}

li {
    display: inline;
}

a{
    text-decoration: none !important;
}

.tn {
    margin: 6PX;
    border:none;
    box-shadow: dimgray 1px 1px 4px 1px;
    border-radius: 5px !important;
    transition: 3s ease-in-out;
}

.tn:focus {
    transition: 3s ease-in-out;
  }




.btn {
    border-radius: 0px !important;
    background-color: dimgrey;
    color: #fff;
    box-shadow:black 1px 2px 8px 1px;
    transition: 0.5s ease-in-out;
}
 .btn:active {
    
    background-color: olivedrab !important;
    
}
.btn:focus {
    background-color: goldenrod !important;
}

#first{
    border-top-left-radius: 5px !important;
}

#last{
    border-top-right-radius:5px !important;
}

.gallerybox{
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    padding: 15px;
    background-color: black;
    text-align: center;
    box-shadow:#555 1px 2px 8px 1px;
}